/***********************
GENERAL: Base Styles
************************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Federo', sans-serif;
  background: linear-gradient(#bb4a42, transparent 90%),
              linear-gradient(0deg, #630408, transparent),
              #bb4a42;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
a:hover,
a:visited {
  color: #111;
}

img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/***********************
Main Styles
************************/

.main-header {
  padding-top: 170px;
  width: 100%;
  height: 867px;
  background: linear-gradient(#bb5755, transparent 90%),
              linear-gradient(0deg, #630408, transparent),
              #bb5755 url('../img/catpeople.jpg') no-repeat center;
  background-size: cover;
}

.title {
  font-family: 'Federo', sans-serif;
  color: #111;
  font-size: 1.625rem; /* 26px/16px */
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid #dd0000;
  padding-bottom: 10px;
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
  padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
  padding-top: 80px;
  padding-bottom: 70px;
  border-bottom: 1px solid #fff;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid #dd0000;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.t-border {
  border-top: 2px solid #dd0000;
}

/***********************
Layout Styles
************************/

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.central-focus {
  color: white;
  text-align: left;
  padding: 0;
  border-top: 10px solid #dd0000;
  margin: 60px 0 40px;
  background: #434a52 url('../img/gify1.gif') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}

.arrow {
  width: 60px;
  margin-top: -150px;
}

/***********************
Floated Columns
************************/

.deals,
.tips {
  width: 46.5%;
}

.tips {
  float: left;
}

.deals {
  float: right;
}

/***********************
floated Clearfix
************************/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/***********************
Headings
************************/

h1 {
  font-family: 'Joti One', sans-serif;
  margin: 15px 0;
  font-size: 5.625rem;
  font-weight: normal;
  line-height: 1.3;
}

h2 {
  font-family: 'Joti One', sans-serif;
  font-size: 3.3125em;
  margin: -5px 0 0;
  font-weight: normal;
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

/***********************
Footer
************************/

footer p {
  color: #aaa;
}

footer a,
footer a:hover,
footer a:visited {
  color: #fff;
}

.main-footer {
  font-family: 'Federo', sans-serif;
  width: 100%;
  font-size: 0.9em;
  text-align: center;
  clear: both;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  color: #fff;
  background-color: #111;
  border-bottom: 10px solid #dd0000;
}